body, html {width: 100%; height: 100%; margin: 0; padding: 0; background-color: #36393B;}

		* {
			box-sizing: border-box;
		}

		.title{
			padding:15px;
			text-align:left;
		}

		.menu {
			float: left;
			width: 10%;
			text-align: center;
		}

		.menu a {
			padding: 8px;
			margin-top: 7px;
			display: block;
			width: 100%;
			color: black;

			border-top-left-radius: 0px; border-bottom-right-radius: 25px;
		}

		.main {
			float: left;
			width: 70%;
			height: 100%;
			padding: 0 20px;
		}

		.right {
			float: left;
			width: 20%;
			padding: 0px;
			margin-top: 7px;
			text-align: center;

			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
		}

		.footer{
			text-align:right;
			padding:10px;
			margin-top:7px;
			width: 90%;

			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
		}

		a {
			text-decoration: none;
		}

		/* unvisited link */
		a:link {
		  color: white;
		}

		/* visited link */
		a:visited {
		  color: grey;
		}

		/* mouse over link */
		a:hover {
		  color: cyan;
		}

		/* selected link */
		a:active {
		  color: blue;
		}

		.fakeimg {
				height: 20em;
				background: #aaa;
			}

		@media only screen and (max-width: 620px) {
			/* For mobile phones: */
			.menu, .main, .right {
			width: 100%;
			}
		}

